html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}
a {
	text-decoration: none;
}
/* MY CODE */
html {
	font-family: 'Montserrat', sans-serif;
}
.container {
  max-width: 961px;
  width: 100%;
  margin: 0 auto;
}
.center {
	max-width: 607px;
	width: 100%;
  margin: 0 auto;
	}
/* BODY */
body {
  background-image: url("../fotos/body-back.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html {
  height: 2212px;
}
/* BODY */

/* header */
header {
  background-color: #111111;
  height: 84px;
  vertical-align: 84px;
	position: relative;
	overflow: auto;
}

.left-block {
	position: absolute;
	top: 35%;
  color: white;
  display: inline-block;
}
.left-block h2{
  font-size: 17px;
	margin-left: 10px;
	font-family: 'Montserrat', sans-serif;
}
.left-block h3{
  font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}
.right-block {
	margin-top: 34px;
	float: right;
	top: 35%;
  display: inline-block;
	left: 60%;
}
.navigation-ul {
 display: flex;
 text-decoration: none;
}
.navigation-ul a {
	margin-left: 44px;
 text-decoration: none;
 color: white;
 font-size: 14px;
 font-family: 'Montserrat', sans-serif;
}
/* header */
/* under header */
.news {
	background-color: #D13F4A;
	color: white;
	width: 147px;
	height: 26px;
	line-height: 26px;
	margin-left: 38%;
	padding-left: 21px;
	font-size: 15px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	margin-top: 154px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.under-news {
	background-color: #111111;
	color: white;
	width: 607px;
	height: 57px;
	line-height: 57px;
	padding-left: 50px;
	font-size:	25px;
	font-family: 'Montserrat', sans-serif;
}
.under-news-second {
	line-height: 39px;
	background-color: #111111;
	color: white;
	width: 410px;
	height:	39px;
	margin-left: 15%;
	padding-left:	30px;
	font-size:	12px;
	font-family: 'Montserrat', sans-serif;
}
/* under header */
/* container */
.blocks {
	margin-top: 144px;
}
/* container */

/* Left container */
.left-main-block {
	width: 670px;
	background-color: #FFFFFF;
	padding-top: 10px;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
}
.left-container {
	max-width: 653px;
	width: 100%;
  margin: 0 auto;
}
.left-title {
	width: 653px;
	border-right: 3px;
	border-style: solid;
	border-color: #D13F4A;
	background-color: #F3F3F3;
	height: 47px;
	line-height: 47px;
	padding-left: 30px;
	color: #999999;
	margin-bottom: 12px;
}
/* Left container */



/* Article */
.article-img{
	margin-top:
	max-width: 653px;
	margin-bottom: 30px;
}
.article ul {
	display: inline-block;
}
.article ul li{
	width: 76px;
	height: 16px;
	font-size: 9px;
	margin-bottom: 4px;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
	line-height: 16px;
}
.article ul li a {
	color: #ffffff;
}
.article ul li img {
	width: 8px;
	height: 8px;
	margin: 4px 0 0 6px;
}
.time {
	background-color: #D13F4A;
}
.people{
	background-color:	#469134;
}
.twitter{
	background-color:	#24CEDD;
}
.facebook{
	background-color:	#2F81C0;
}
.More{
	background-color:	#D13F4A;
	padding-left: 9px;
}

.red{
	width: 2px;
	height: 16px;
	background-color: #D13F4A;
	display: inline-block;
	vertical-align: top;
	margin-left: 25px;
}
.main-article-title {
	display: inline-block;
	width: 525px;
	vertical-align: top;
	margin-left: 16px;
	color: #484848;
	margin-bottom: 20px;
}
.main-article-title h1 {
	font-size: 21px;
	margin-bottom: 10px;
}
.main-article-title article {
	font-size: 13px;
	line-height: 24px;
}
/* Article */

/* right container */
.right-main-block {
	max-width:	281px;
	display: inline-block;
	width: 281px;
	vertical-align: top;
	padding-top: 10px;
	padding-left: 11px;
}
.right-main-block h2 {
	width: 268px;
	border-right: 2px;
	border-style: solid;
	border-color: #D13F4A;
	color: #999999;
	background-color: #181818;
	font-size: 16px;
	height: 47px;
	line-height: 47px;
	padding-left: 22px;
}
.first-ul{
	margin-bottom: 9px;
}
.first-ul li {
	width: 268px;
	height: 37px;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
	line-height: 37px;
	color: #FFFFFF;
}
.first-ul li img{
	width: 18px;
	height: 18px;
	margin: 9px 0 0 12px;
}
.right-main-block img {
	margin: 12px 0 12px 4px;
	width: 266px;
}
.second-ul{
	position: relative;
}
.second-ul li{
	font-size: 13px;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	line-height: 60px;
}

.second-ul li img{
	width: 40px;
	height: 40px;
}
.second-ul div {
	display: inline-block;
	position: absolute;
	margin-left: 190px;
	font-size: 10px;
	margin-top: 14px;
}
.second-ul div a{
	color: #D13F4A;
}

/* right container */
